bin/
obj/
.vs/
*.user
*.suo
dist/

# Independent Git Repositories
ZeroUI/
ZeroGraphics/
ZeroTensor/
ZeroNeural/
ZeroData/
ZeroSignal/
ZeroInference/
ZeroGeometry/
ZeroComm/
ZeroStorage/
ZeroCompute/
ZeroPipeline/
ZeroPrimitives/
ZeroIoT/
ZeroCharts/
ZeroReports/
ZeroAudioVisual/
ZeroTwin3D/
Zero3D/
ZeroVideo/
ZeroSystem/
ZeroRfid/
ZeroSecurity/
ZeroNetwork/
ZeroDocuments/
ZeroCompression/
ZeroUI.React/
