bin/
obj/
.vs/
*.user
*.suo
dist/

# Independent Git Repositories
ZeroUI/
ZeroGraphics/
ZeroTensor/
ZeroNeural/
ZeroData/
ZeroSignal/
ZeroInference/
ZeroGeometry/
ZeroComm/
ZeroStorage/
ZeroCompute/
ZeroPipeline/
ZeroPrimitives/
ZeroIoT/
ZeroCharts/
ZeroReports/
ZeroAudioVisual/
ZeroTwin3D/
Zero3D/
ZeroVideo/
ZeroAudio/
ZeroSystem/
ZeroRfid/
ZeroSecurity/
ZeroNetwork/
ZeroDocuments/
ZeroCompression/
ZeroConcurrency/
ZeroAsset/
ZeroUI.React/
ZeroText/
ZeroOcr/
ZeroVector/
ZeroTokenizer/
ZeroAgent/
ZeroLlm/
ZeroPrompt/
ZeroBus/
ZeroMotion/
ZeroScan3D/
