bin/
obj/
.vs/
*.user
*.suo
dist/

# Independent Git Repositories
ZeroUI/
ZeroGraphics/
ZeroTensor/
ZeroNeural/
ZeroData/
ZeroSignal/
ZeroInference/
ZeroGeometry/
ZeroComm/
ZeroStorage/
ZeroCompute/
ZeroPipeline/

