<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="satellites-iot-packages" value="./Satellites/ZeroPlatform.IoT/packages" />
    <add key="satellites-charts-packages" value="./Satellites/ZeroPlatform.Charts/packages" />
    <add key="satellites-reports-packages" value="./Satellites/ZeroPlatform.Reports/packages" />
    <add key="satellites-audiovisual-packages" value="./Satellites/ZeroPlatform.AudioVisual/packages" />
    <add key="satellites-twin3d-packages" value="./Satellites/ZeroPlatform.Twin3D/packages" />
    <add key="zeroui-packages" value="./ZeroUI/packages" />
  </packageSources>
</configuration>
