<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroprimitives-packages" value="./ZeroPrimitives/dist/packages" />
    <add key="zeroconcurrency-packages" value="./ZeroConcurrency/dist/packages" />
    <add key="zerosecurity-packages" value="./ZeroSecurity/dist/packages" />
    <add key="zerosystem-packages" value="./ZeroSystem/packages" />
    <add key="zerocompression-packages" value="./ZeroCompression/dist/packages" />
    <add key="zerotensor-packages" value="./ZeroTensor/dist/packages" />
    <add key="zerocompute-packages" value="./ZeroCompute/dist/packages" />
    <add key="zeronetwork-packages" value="./ZeroNetwork/nupkgs" />
    <add key="zerodata-packages" value="./ZeroData/dist/packages" />
    <add key="zerostorage-packages" value="./ZeroStorage/dist/packages" />
    <add key="zerocomm-packages" value="./ZeroComm/dist/packages" />
    <add key="zeroiot-packages" value="./ZeroIoT/nupkgs" />
    <add key="zerorfid-packages" value="./ZeroRfid/nupkgs" />
    <add key="zerosignal-packages" value="./ZeroSignal/dist/packages" />
    <add key="zerogeometry-packages" value="./ZeroGeometry/dist/packages" />
    <add key="zerovideo-packages" value="./ZeroVideo/dist/packages" />
    <add key="zeroaudiovisual-packages" value="./ZeroAudioVisual/nupkgs" />
    <add key="zeroinference-packages" value="./ZeroInference/dist/packages" />
    <add key="zeroneural-packages" value="./ZeroNeural/dist/packages" />
    <add key="zerographics-packages" value="./ZeroGraphics/dist/packages" />
    <add key="zerocharts-packages" value="./ZeroCharts/dist/packages" />
    <add key="zero3d-packages" value="./Zero3D/dist/packages" />
    <add key="zerotwin3d-packages" value="./ZeroTwin3D/dist/packages" />
    <add key="zerodocuments-packages" value="./ZeroDocuments/dist/packages" />
    <add key="zeroreports-packages" value="./ZeroReports/dist/packages" />
    <add key="zeropipeline-packages" value="./ZeroPipeline/dist/packages" />
    <add key="zeroui-packages" value="./ZeroUI/dist/packages" />
  </packageSources>
</configuration>
