<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="satellites-iot-packages" value="./ZeroIoT/packages" />
    <add key="satellites-charts-packages" value="./ZeroCharts/packages" />
    <add key="satellites-reports-packages" value="./ZeroReports/packages" />
    <add key="satellites-audiovisual-packages" value="./ZeroAudioVisual/packages" />
    <add key="satellites-twin3d-packages" value="./ZeroTwin3D/packages" />
    <add key="zeroui-packages" value="./ZeroUI/packages" />
    <add key="zeroprimitives-packages" value="./ZeroPrimitives/dist/packages" />
    <add key="zerodata-packages" value="./ZeroData/dist/packages" />
  </packageSources>
</configuration>
